<div>
    <div class="alert alert-primary" role="alert">
        El correo ingresado ya se encuentra registrado.
    </div>


    <hr>
    <div class="text-center">
        <p>¿Ya posees una cuenta? <a href="/api/auth/login">Iniciar sesión</a></p>
        <p>O vuelve a intentar registrarte. <a href="/api/auth/signup">Registrarme</a></p>
        
    </div>
</div>