<div>
    <div class="alert alert-primary" role="alert">
        El usuario y/o contraseña no son válidos.
    </div>


    <hr>
    <div class="text-center">
        <p>Intentar loguearse nuevamente: <a href="/api/auth/login">Iniciar sesión</a></p>
        <p>¿No posees cuenta?<a href="/api/auth/signup">Registrarme</a></p>
        
    </div>
</div>